<div>
    <p>
        Please fill out the form below to submit or update your experiment and
        equipment requests.
    </p>
    <p>
        Only approved experiments that are funded, and have been scheduled by PASSCAL will
        be made available for public searches on our website. Unfunded experiments
        cannot be scheduled; if you have submitted a request for an unfunded
        project, be sure to notify PASSCAL promptly once funding has been approved.
    </p>
    <p>
        You do not have to complete your request right now. You can use the
        "Save as Draft" button to save a copy of your experiment that you can
        return to work on later, and then submit when you are ready.
    </p>
    <p>
        Once a request is submitted, you can continue to update it, but any
        changes will need to be approved by PASSCAL before they will appear
        on the website.
    </p>
    <p>
        <b>Please note</b> that currently, NSF is restricting export of SAGE
        facility instruments to countries with a Level 4 travel advisory status
        from the <a target="_blank" href="https://travel.state.gov/content/travel/en/traveladvisories/traveladvisories.html">
            U.S. Department of State</a>.
        In addition, shipments to countries with Level 3 status are subject to
        review and approval NSF on an experiment by experiment basis.
    </p>
</div>
