<div>
    <p>
        You can request instruments (sensors, DAS, etc.) for your experiment
        by creating an Instrument Request below. Each request is comprised of
        a list of instruments grouped together by a starting and ending date.
        An experiment may have one or more requests
        (i.e. multiple phases on different dates),
        and each request (or phase) may include one or more instruments.
    </p>
    <p>
        First, create a request by selecting the date range that you need the
        equipment for, then add instruments to the request.
    </p>
    <p>
        The <em>"Leaves PIC Dock"</em> date is the date we will ship the
        equipment. Please leave yourself enough time between this date and
        when you need to start using the equipment to account for shipping
        time, delays, customs, etc.
    </p>
    <p>
        PASSCAL will expect to have the equipment back on our dock by the
        <em>"Returns to PIC Dock"</em> date.
    </p>
    <p>
        <strong>Important:</strong>
        <ul>
            <li>
                PASSCAL needs at least two weeks to arrange shipping. We may not be
                able to accommodate requests that do not provide enough lead time.
            </li>
            <li>
                All changes and additions will need to be approved by PASSCAL staff
                before they are applied to your experiment.
            </li>
        </ul>
    </p>
</div>
