<form class="row g-3">
  <div class="col-md-12">
    <label class="form-label required fw-bold">Name</label>
    <input type="text" class="form-control form-control-sm" />
    <div class="form-text">
      A simple name for your experiment. This can only be changed by PASSCAL
      staff after this request is submitted.
    </div>
  </div>
  <div class="col-md-12">
    <label class="form-label required fw-bold">Long Name</label>
    <input type="text" class="form-control form-control-sm" />
    <div class="form-text">
      Provide a longer, descriptive name for your experiment.
    </div>
  </div>
  <div class="col-12">
    <label class="form-label required fw-bold">Description</label>
    <textarea
      class="form-control form-control-sm"
      style="height: 100px"
    ></textarea>
    <div class="form-text">
      Please provide a more detailed description of your experiment here.
    </div>
  </div>
</form>
