
<div>
    Select other people to add to your project my typing their name,
    email, or organization in the <em>Name</em> field and selecting the
    correct person from the list of choices.

    <p>
        If you cannot find the person you wish to add, please add their
        name and contact information to the General Comments section below.
    </p>
</div>
<table class="table table-secondary">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Organization</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td >Lan Dam</td>
        <td>lan.dam+sbd1@earthscope.org</td>
        <td>passcal</td>
        <td>Principal Investigator(PI</td>
        <td></td>
    </tr>
    <tr class="table-success">
        <td>
            <input type="text" class="form-control form-control-sm">
        </td>
        <td></td>
        <td></td>
        <td>Co-PI</td>
        <td><button type="button" class="btn btn-success btn-sm">Add</button></td>
    </tr>
    </tbody>
</table>
