<table class="table table-secondary">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Agency</th>
        <th scope="col">Program</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-success">
        <th scope="row">1</th>
        <td>
            <select class="form-select form-select-sm" autocomplete="off">
                <option >*** Choose an Agency</option>
                <option value="1">American Chemical Society</option>
                <option value="2" selected>Antarctica New Zealand</option>
                <option value="3">Industry</option>
            </select>
        </td>
        <td>
            <select class="form-select form-select-sm" autocomplete="off">
                <option>*** Choose a Program</option>
                <option value="1">Other</option>
                <option value="2" selected>Petroleum Research Fund</option>
            </select>
        </td>
        <td><button type="button" class="btn btn-danger btn-sm">X</button></td>
    </tr>
    <tr class="table-success">
        <th scope="row">New</th>
        <td>
            <select class="form-select form-select-sm" autocomplete="off">
                <option value="0" selected>*** Choose an Agency</option>
                <option value="1">American Chemical Society</option>
                <option value="2">Antarctica New Zealand</option>
                <option value="3">Industry</option>
            </select>
        </td>
        <td>
            <select class="form-select form-select-sm" autocomplete="off">
                <option value="0" selected>*** Choose a Program</option>
                <option value="1">Other</option>
                <option value="2">Petroleum Research Fund</option>
            </select>
        </td>
        <td><button type="button" class="btn btn-success btn-sm">Add</button></td>
    </tr>
    </tbody>
</table>