<div class="row mb-3">
    <label class="col-sm-6 col-form-label">Can we use your current contact information as the billing address?</label>
    <div class="col-sm-1">
        <select class="form-select form-select-sm" autocomplete="off">
            <option value="0">Yes</option>
            <option value="1" selected>No</option>
        </select>
    </div>
</div>
<div class="mb-3">
    If you are not the billing contact,
    please fill in the information for the billing contact below.
</div>
<div class="row">
    <div class="col-sm-3">
        <label  class="form-label fw-bold mt-3">Name</label>
        <input type="text" class="form-control form-control-sm">
    </div>
    <div class="col-sm-2">
        <label  class="form-label fw-bold mt-3">Phone</label>
        <input type="text" class="form-control form-control-sm">
    </div>
    <div class="col-sm-3">
        <label  class="form-label fw-bold mt-3">Email</label>
        <input type="text" class="form-control form-control-sm">
    </div>
    <div class="col-sm-4">
        <label  class="form-label fw-bold mt-3">Address</label>
        <textarea class="form-control form-control-sm"></textarea>
    </div>
</div>
