<div>If you need additional support for your experiment, select the type of support below. </div>
<div class="row my-2">
    <div class="col-sm-4">
        <div class="mb-3">
            <label  class="form-label fw-bold mt-3">PASSCAL Field Support</label>
            <select class="form-select form-select-sm w-25" autocomplete="off">
                <option value="0">Yes</option>
                <option value="1" selected>No</option>
            </select>
            <div class="form-text">Do you need assistance from PASSCAL Staff in the field?</div>
        </div>
        <div class="my-2">
            <label  class="form-label fw-bold mt-3">Computer Support</label>
            <select class="form-select form-select-sm w-25" autocomplete="off">
                <option value="0">Yes</option>
                <option value="1" selected>No</option>
            </select>
            <div class="form-text">Do you require computer equipment from PASSCAL?</div>
        </div>
        <div class="my-2">
            <label  class="form-label fw-bold mt-3">Field Coordination Needed</label>
            <select class="form-select form-select-sm w-25" autocomplete="off">
                <option value="0">Yes</option>
                <option value="1" selected>No</option>
            </select>
            <div class="form-text">
                Does your project depend on coordination with other instrumentation facilities
                (for example, offshore components)? If so, please explain in the Coordination Explanation field.
            </div>
        </div>
        <div class="my-2">
            <label  class="form-label fw-bold mt-3">SSF Coordination Needed</label>
            <select class="form-select form-select-sm w-25" autocomplete="off">
                <option value="0">Yes</option>
                <option value="1" selected>No</option>
            </select>
            <div class="form-text">
                Does your project depend on coordination with the
                <a target="_blank" href="https://www.utep.edu/science/ssf/">Seismic Source Facility</a>
                If so, please explain in the Coordination Explanation field.</div>
        </div>
        <div class="my-2">
            <label  class="form-label fw-bold mt-3">International Shipping</label>
            <select class="form-select form-select-sm w-25" autocomplete="off">
                <option value="0">Yes</option>
                <option value="1" selected>No</option>
            </select>
            <div class="form-text">Will your project require international shipping?</div>
        </div>
    </div>
    <div class="col-sm-8">
        <label  class="form-label fw-bold mt-3">Coordination Explanation</label>
        <textarea class="form-control form-control-sm h-50"></textarea>
        <div class="form-text">
            If you need to coordinate with other instrumentation facilities,
            like the SSF, please explain here.
        </div>
    </div>
</div>
