<div>Please enter any additional information, notes, or comments you have here.
    You can also use this section to request additional equipment that isn't
    listed above like solar panels, quick-deploy boxes, etc.</div>
<div>If your project needs additional PIs or Funding Agencies / Programs
    that are not already listed, add them here and we will take care of it. </div>
<label  class="form-label fw-bold mt-3">General Comments</label>
<textarea class="form-control form-control-sm" style="height: 100px;"></textarea>