
<div class="card my-2">
    <div class="card-body bg-warning-subtle text-dark">
        <input class="form-check-input" type="checkbox" value="" id="agreeCheck">
        <label class="form-check-label" for="agreeCheck">
            I have read and agree with the
            <a target="_blank" href="https://www.passcal.nmt.edu/content/general-information/policy/instrument-use-policy">
                PASSCAL Instrument Center Policy</a>.
        </label>
        <div class="form-text">
            You only need to check the above box if you are submitting a new request.
            If this is just a Draft, you can leave it unchecked until submission.
        </div>
    </div>
</div>
<div class="btn-group my-2">
    <button type="button" class="btn btn-success btn-sm me-4">Save And Submit</button>
    <button type="button" class="btn btn-primary btn-sm me-4">Save As Draft</button>
    <button type="button" class="btn btn-warning btn-sm ">Cancel Request</button>
</div>
<div>You can provide feedback concerning the scheduling system
    <a target="_blank" href="https://www.passcal.nmt.edu/node/2598">here.</a></div>
